.galeria {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.galeria>div::-webkit-scrollbar {
    height:6px;
}

/* Track */
.galeria>div::-webkit-scrollbar-track {
    background: #f4f4f4; 
}
 
/* Handle */
.galeria>div::-webkit-scrollbar-thumb {
    background: rgb(171, 170, 170)
}

.galeria>div {
    position: relative;
    display: block;
    overflow-x: auto;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

.galeria ul {
    display: table;
    white-space: nowrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.galeria ul li {
    display: table-cell;
}
